{
  "$schema": "https://json.schemastore.org/prettierrc.json",
  "arrowParens": "always",
  "bracketSameLine": true,
  "printWidth": 120,
  "plugins": [
    "prettier-plugin-pkg",
    "prettier-plugin-imports",
    "prettier-plugin-jsdoc",
    "prettier-plugin-tailwindcss"
  ],
  "singleQuote": true,
  "semi": true,
  "tailwindFunctions": ["clsx", "cn", "cva"],
  "trailingComma": "all"
}
