:root {
  --color-primary: #2cd8c4;
  --color-border: #e8e8e8;
  --color-background: #f6f6f6;
  --color-foreground: #3e3e3e;
  --color-card: #eee;
  --color-card-fg: #555;
  --color-muted: #bbb;
  --color-muted-fg: #888;
  @media (prefers-color-scheme: dark) {
    --color-primary: #2cd8c4;
    --color-border: #292b2c;
    --color-background: #18191a;
    --color-foreground: #eee;
    --color-card: #242526;
    --color-card-fg: #888;
    --color-muted: #2e3031;
    --color-muted-fg: #555;
  }
}

* {
  border-color: var(--color-border) !important;
  user-select: none;
}
::-webkit-scrollbar {
  width: 0.75rem;
}
::-webkit-scrollbar-thumb {
  border: 2px solid var(--color-background);
  background-clip: padding-box;
  background: var(--color-muted);
  border-radius: 10px;
}
::-webkit-scrollbar-thumb:hover {
  background: var(--color-muted-fg);
}

body,
.c-aside,
.c-dropdown__content,
.c-nav--mobile,
.c-player__controls,
.c-player__details,
.c-player__header,
.c-player__panel,
.rbd-draggable-context {
  background: var(--color-background) !important;
  color: var(--color-foreground) !important;
}
.c-modal__body aside,
.c-modal__content,
.c-select__container,
.login main,
.o-rule::after,
.signup main {
  background: var(--color-card) !important;
  color: var(--color-foreground) !important;
}
.login .c-btn--quaternary.c-btn--ghost,
.signup .c-btn--quaternary.c-btn--ghost {
  color: var(--color-card-fg) !important;
  border-color: var(--color-card-fg) !important;
}
.c-player__details {
  border-top: 1px solid var(--color-border);
}
img {
  filter: saturate(0.8) brightness(0.95) !important;
}
.c-header {
  background-color: var(--color-card) !important;
  color: var(--color-foreground) !important;
}
.o-snippet {
  border: none !important;
}
.o-snippet:active,
.o-snippet:focus,
.o-snippet:hover {
  background-color: var(--color-card) !important;
}
svg.u-placeholder rect {
  fill: var(--color-card);
}
.c-aside__drop,
.u-angle {
  background: var(--color-card) !important;
}
.c-dropdown__type,
.c-nav__link {
  color: var(--color-card-fg) !important;
}
.c-dropdown__content {
  border: 1px solid var(--color-border);
  border-width: 1px 0 0 0;
  @media (min-width: 61.25em) {
    border-width: 1px;
  }
}
.c-nav.c-nav--primary .c-nav__link {
  &.active,
  &:hover {
    box-shadow: inset 0 -2px 0 0 var(--color-primary) !important;
  }
}
.c-nav--mobile {
  border-top: 1px solid var(--color-border);
  box-shadow: none !important;
}
.c-progress__track,
.c-slider__content {
  background: var(--color-card) !important;
}
.c-slider__track {
  background: var(--color-muted) !important;
}
.c-modal.c-modal--overflow .c-modal__content {
  border: 1px solid var(--color-border) !important;
}
.c-modal.c-modal--overflow .c-modal__content .c-modal__body {
  border: none;
}
.__JSDX_link_gray,
.__JSDX_link_gray a,
.o-list-bars__item {
  color: var(--color-card-fg) !important;
}
.c-dropdown__select,
.__JSDX_link_gray_alt,
.__JSDX_link_gray_alt a,
.u-link {
  color: var(--color-muted-fg) !important;
}
.field .c-select__container,
.field .c-select__input,
.field input {
  background: var(--color-card) !important;
  color: var(--color-foreground);
}
.c-search {
  background: var(--color-background) !important;
}
.c-search .rbt *,
.c-search label {
  color: var(--color-muted-fg) !important;
}
.c-search.active .c-search__list {
  box-shadow: 0 -1px 0 0 var(--color-border) !important;
}
.u-scroll--fade:after {
  background: linear-gradient(rgba(245, 245, 245, 0), var(--color-background) 80%, var(--color-background)) !important;
}
.c-logo > svg {
  fill: var(--color-foreground) !important;
}
.o-flag--profile .o-flag__img img,
.user-profile-menu img.u-rounded.u-profile-small {
  filter: invert(0.75) !important;
}
.c-btn.c-btn--primary.c-btn--ghost {
  border-color: var(--color-primary) !important;
  color: var(--color-primary) !important;
}
.c-player {
  box-shadow: 0 0 15px 5px #0003;
}
.u-centi a {
  color: var(--color-card-fg) !important;
}
.u-centi a:focus,
.u-centi a:hover {
  filter: brightness(1.25) !important;
}
.c-ad,
.c-promo,
.ad,
.c-banner,
.c-player__ad {
  display: none !important;
  visibility: none !important;
}
.c-nav__item.active .c-nav__item-content {
  background: var(--card);
  border: 1px solid var(--border);
}
.c-player .c-player__current .u-deci a[screen_name='player_screen'] {
  color: var(--color-foreground);
}
.c-dropdown__content .o-list-select__item {
  color: var(--color-card-fg);
  &.active {
    color: var(--color-primary);
  }
}
